{% extends 'base.html' %}

{% load static %}
{% block menu %}


    

        <main role="main" class="w-100">
            <section class="elanler_section">
                <div class="container">
                    <ul class="elan_list d-flex w-100 flex-wrap">
                        <li class="position-relative list_item d-flex justify-content-between my_container my_left "data-ribbon="Premium" style="--d:10px;--c:#f2ff02;--f:9px" >
                           
                           
                            <div class="list_item_left d-flex  ">
                                <div class="list_item_img">
                                    <img src="static/ Design/aaa.jpg"
                                        alt="elan_image">
                                </div>
                                <div class="elan_text">
                                    <span> <a href="#">#Whatsapp</a> </span>
                                    <h4> <a href="#">network nameljalsjdasdasdadadadadad</a> </h4>
                                </div>
                            </div>

                            <div class="position-relative d-flex flex-column justify-content-between list_item_right">
                                <span class="open_elan_menu d-inline-block ">
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                                <div class=" d-flex justify-content-between align-items-center " >
                                   
                                    <span class="sosial_network_icon" >
                                        <img src="{% static 'Icons/4362952_whatsapp_logo_social media_messaging app_icon.png' %}" width="24px" height="24px" alt="whatsapp">
                                    </span>
                                   
                                    <span class="like_icon" >
                                        <i class="far fa-heart float-right "></i>
                                        <i class=" my_like fas fa-heart"></i>
                                    </span>
                                    <span class="like_count" >
                                        312456
                                    </span>
                                </div>
                            </div>

                            <ul class="elan_menu_list  flex-column ">
                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li class="position-relative list_item d-flex justify-content-between my_container my_left "data-ribbon="Premium" style="--d:10px;--c:#f2ff02;--f:9px" >
                           
                           
                            <div class="list_item_left d-flex align-items-center ">
                                <div class="list_item_img">
                                    <img src="{% static 'Design/aaa.jpg' %}"
                                        alt="elan_image">
                                </div>
                                <div class="elan_text">
                                    <span> <a href="#">#Whatsapp</a> </span>
                                    <h4> <a href="#">network name</a> </h4>
                                </div>
                            </div>

                            <div class="position-relative d-flex flex-column justify-content-between list_item_right">
                                <span class="open_elan_menu d-inline-block ">
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                                <div class=" d-flex justify-content-between align-items-center " >
                                   
                                    <span class="sosial_network_icon" >
                                        <img src="{% static 'Icons/4362952_whatsapp_logo_social media_messaging app_icon.png' %}" width="24px" height="24px" alt="whatsapp">
                                    </span>
                                   
                                    <span class="like_icon" >
                                        <i class="far fa-heart float-right "></i>
                                        <i class=" my_like fas fa-heart"></i>
                                    </span>
                                    <span class="like_count" >
                                        312456
                                    </span>
                                </div>
                            </div>

                            <ul class="elan_menu_list  flex-column ">
                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li class="position-relative list_item d-flex justify-content-between my_container my_left "data-ribbon="Premium" style="--d:10px;--c:#f2ff02;--f:9px" >
                           
                           
                            <div class="list_item_left d-flex align-items-center ">
                                <div class="list_item_img">
                                    <img src="{% static 'Design/aaa.jpg' %}"
                                        alt="elan_image">
                                </div>
                                <div class="elan_text">
                                    <span> <a href="#">#Whatsapp</a> </span>
                                    <h4> <a href="#">network name</a> </h4>
                                </div>
                            </div>

                            <div class="position-relative d-flex flex-column justify-content-between list_item_right">
                                <span class="open_elan_menu d-inline-block ">
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                                <div class=" d-flex justify-content-between align-items-center " >
                                   
                                    <span class="sosial_network_icon" >
                                        <img src="{% static 'Icons/4362952_whatsapp_logo_social media_messaging app_icon.png' %}" width="24px" height="24px" alt="whatsapp">
                                    </span>
                                   
                                    <span class="like_icon" >
                                        <i class="far fa-heart float-right "></i>
                                        <i class=" my_like fas fa-heart"></i>
                                    </span>
                                    <span class="like_count" >
                                        0
                                    </span>
                                </div>
                            </div>

                            <ul class="elan_menu_list  flex-column ">
                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li class="position-relative list_item d-flex justify-content-between  "data-ribbon="Premium" style="--d:10px;--c:#f2ff02;--f:9px" >
                           
                           
                            <div class="list_item_left d-flex align-items-center ">
                                <div class="list_item_img">
                                    <img src="{% static 'Design/aaa.jpg' %}"
                                        alt="elan_image">
                                </div>
                                <div class="elan_text">
                                    <span> <a href="#">#Whatsapp</a> </span>
                                    <h4> <a href="#">network name</a> </h4>
                                </div>
                            </div>

                            <div class="position-relative d-flex flex-column justify-content-between list_item_right">
                                <span class="open_elan_menu d-inline-block ">
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                                <div class=" d-flex justify-content-between align-items-center " >
                                   
                                    <span class="sosial_network_icon" >
                                        <img src="{% static 'Icons/4362952_whatsapp_logo_social media_messaging app_icon.png' %}" width="24px" height="24px" alt="whatsapp">
                                    </span>
                                   
                                    <span class="like_icon" >
                                        <i class="far fa-heart my_dislike"></i>
                                        <i class=" my_like fas fa-heart"></i>
                                    </span>
                                    <span class="like_count" >
                                       0
                                    </span>
                                </div>
                            </div>

                            <ul class="elan_menu_list  flex-column ">
                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>

                                <li class="elan_menu_list_item" >
                                    <a href="#"> 
                                        Smthing
                                    </a>
                                </li>
                            </ul>

                        </li>

                    </ul>
                </div>
            </section>
        </main>
    </body>
{% endblock %}


       